.main-header {
  display: flex;
  align-items: center;
  height: 520px;
  width: 100%;
  background-color: darkgoldenrod;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  background-image: url("/images/always-grey.png");
  justify-content: center;
}

.name {
  display: flex;
  height: 80px;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 200;
  align-content: center;
}

.avatar {
  margin-top: 120px;
  height: 256px;
}

