.main-header {
  display: flex;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: darkgoldenrod;
  flex-direction: column;
  background-image: url("/images/foggy-birds.png");
  justify-content: center;
}

.name {
  display: flex;
  font-family: sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 200;
  align-content: center;
}

.avatar img{
  margin-top: 120px;
  height: 7em;
  width: auto;
}