header {
  display: flex;
  align-items: center;
  height: 520px;
  width: 100%;
  background-color: darkgoldenrod;
  flex-direction: column;
  position: absolute;
  top: 0px;
  z-index: 0;
  background-image: url("/images/45-degree-fabric-dark.png");
}

h2 {
  display: flex;
  font-family: sans-serif;
  color: white;
  margin-left: 0.4em;
  font-size: 30px;
  font-weight: 200;
}

.avatar {
  margin-top: 120px;
}

.name {
  display: flex;
}
